
{% macro modal (user,userWorkouts) %}
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal fade" id="{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{user.username}} Trainings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   {% for workout in userWorkouts %}
                        {% if user.id == workout.userId %}
                             <h5> {{workout.name}}</h5>
                             <h6> {{workout.duaDate}}</h6>
                             <p> {{workout.category}}</p>
                             <span> {{workout.repeatCount}}</span>
                             <span> {{workout.timeCount}}</span>
                        {% endif %}
                   {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="#exampleModal">Close</button>
                </div>
            </div>
        </div>
    </div
</div>
{% endmacro %}