
{% macro previewModal (user,userWorkouts) %}
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal fade" id="modal{{ user.id }}" tabindex="-1" aria-labelledby="{{ user.id }}"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{user.name}} Trainings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        {% if userWorkouts|length == 0 %}
                            <li class="list-group-item">
                                <p>There are no workouts for this user!</p>
                            </li>
                        {% else %}
                            {% for workout in userWorkouts %}
                                {% if user.id == workout.userId %}
                                    <li class="list-group-item">
                                        <h5>{{workout.name}}</h5>
                                        <h6>{{workout.dueDate}}</h6>
                                        <p>{{workout.category}}</p>
                                        <span>{{workout.repeatCount}}</span>
                                        <span>{{workout.timeCount}}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro editModal(userWorkout = {id:0}) %}
<div  class="modal fade" id="modal{{userWorkout.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true"
        x-data="{
                userToken:'',
                name:'{{userWorkout.name}}',
                dueDate:'{{userWorkout.dueDate}}',
                category:'{{userWorkout.category}}',
                repeatCount:'{{userWorkout.repeatCount}}',
                timeCount:'{{userWorkout.timeCount}}',
                deletionState: false,


                modalAdd(){
                    const cookie = document.cookie;
                    let cookiesArr = cookie.split(';');
                    cookiesArr = cookiesArr.map(e=>e.trim())
                    const filtered = cookiesArr.filter(el => el.startsWith('token='))
                    const userTokenArr = filtered[0].split('=');
                    const token = userTokenArr[1];
                        
                    const modalData={
                        userToken:token,
                        name:this.name,
                        dueDate:this.dueDate,
                        category:this.category,
                        repeatCount:this.repeatCount,
                        timeCount:this.timeCount
                    }

                    fetch('/api/addtraining',{
                        method:'POST',
                        headers:{ 'Content-type': 'application/json'},
                        body:JSON.stringify(modalData)
                    })
                    .then(window.location.href='../modify')
                },
                deleteState(){
                    this.deletionState = true

                },

                modalDelete(id){                            
                    fetch('/api/deletetraining',{
                        method:'DELETE',
                        headers:{'Content-type':'application/json'},
                        body:JSON.stringify({id})
                    }).then(window.location.href='../modify')
                },

                modalEdit(id){
                    const modalData={
                        name:this.name,
                        dueDate:this.dueDate,
                        category:this.category,
                        repeatCount:this.repeatCount,
                        timeCount:this.timeCount,
                        trainingId: id
                    }                           
                    fetch('/api/edittraining',{
                        method:'PUT',
                        headers:{'Content-type':'application/json'},
                        body:JSON.stringify(modalData)
                    }).then(window.location.href='../modify')
                }
                      
        }" 
        >
    <div class="modal-dialog">
        <div 
       
        class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{% if userWorkout.id == 0  %} Add New Workout {% else %} Edit Workout {% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            
            <form @submit.prevent="modalAdd">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Category</label>
                        <select x-model="category" class="form-select" id="inputGroupSelect01" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="Abs">Abs</option>
                            <option value="Aerobic">Aerobic</option>
                            <option value="Back">Back</option>
                            <option value="Biceps">Biceps</option>
                            <option value="Cardio">Cardio</option>
                            <option value="Chest">Chest</option>
                            <option value="Leg">Leg</option>
                            <option value="Shoulders">Shoulders</option>
                            <option value="Triceps">Triceps</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input x-model="name" type="text" class="form-control" placeholder="Workout Name"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" required value={{userWorkout.name}}>
                        <span class="input-group-text" id="basic-addon2">Name</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input x-model="timeCount"  type="number" class="form-control" placeholder="Sets" aria-label="Sets"
                                min="0" required value={{userWorkout.timeCount}}>
                        </div>
                        <div class="col">
                            <input x-model="repeatCount" type="number" class="form-control" placeholder="Repeats" aria-label="Repeats"
                                min="0" required value={{userWorkout.repeatCount}}>
                        </div>
                        
                    </div>
                    <div class="row g-2 my-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input x-model="dueDate" name="date" type="date" class="form-control" id="floatingInputValue"
                                    required value={{userWorkout.dueDate}}>
                                <label for="floatingSelectGrid">Pick a due Date</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div 
                    class="modal-footer">
                        {% if userWorkout.id == 0 %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        {% else %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" @click.prevent="deleteState" class="btn btn-danger">Delete</button>
                            <button type="button" @click.prevent="modalEdit({{userWorkout.id}})" class="btn btn-warning">Edit</button>
                        {% endif %}
                </div>
                <div x-show="deletionState" class="py-2 px-4">
                    <span>Are you sure about deleting this training?</span>
                    <button type="button" @click.prevent="modalDelete({{userWorkout.id}})" class="btn btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endmacro %}