{% macro navbar (title,item) %}
<header>
        <!-- navbar starts here -->
        <nav class="navbar" style="background-color:  #696969">
            <div class="container-xxl">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="../../assets/images/logo.png" alt="logo" width="45" height="45" />
                    <span class=" ms-1 fw-bold text-warning"> Pump House </span>
                </a>
                <h1 class="text-light">
                    {{title}}
                </h1>
                <div class="d-flex flex-row-reverse"> 
                 <button type="button" class="btn {{item.btn}}" onclick="{{item.onClick}}">
                    <div class="p-1">{{item.name}}</div>
                    </button>
                    
                     <a href="../workouts" class="btn {{item.secondBtn}} me-3">
                        <div class="p-1">{{item.plan}}</div>
                    </a>
                   
                </div>
            </div>
        </nav>
        <!-- navbar ends here -->
</header>
{% endmacro %}