{% extends "../components/html.twig"%}
{% import "../components/navbar.twig" as nav %}
{% import "../components/modals.twig" as modals %}
{% import  "../components/listItem.twig" as listitem  %}
{% block navbar %}


{{nav.navbar("Modify",true,true)}}

{% endblock %}
{% block content %}
    {#{% include "../components/navbar.twig" %}#}
{# {{modals.editModal({
    id:1,
    name:"khashayar",
    repeatCount:1,
    timeCount:2,
    duaDate:"2018-07-22",
}
)}} #}
{{modals.editModal(
    
)}}
    <main class="container my-5">
        <div class="d-flex justify-content-between">
                <h2 class="mb-2">Workouts list</h2>

                <!-- Button trigger add modal -->
                <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#modal0">
                    Add Workout
                </button>
        </div>
        {% for training in userTrainings %}

        <div class="list-group">
            {{listitem.list({ 
            id:training.id,
            name:training.name,
            category:training.category,
            repeatCount:training.repeatCount,
            timeCount:training.timeCount,
            dueDate:training.dueDate
            } ,nowDate)}}
            </div>
            {{modals.editModal({
                 id:training.id,
                 name:training.name,
                repeatCount:training.repeatCount,
                timeCount:training.timeCount,
                dueDate:training.dueDate,
            }
            )}}
           {% endfor %}
    </main>
{% endblock %}
