{% extends "../components/html.twig"%}
{% import "../components/navbar.twig" as nav %}
{% import "../components/modals.twig" as modals %}
{% import  "../components/listItem.twig" as listitem  %}
{% block navbar %}


{{nav.navbar("Modify",true,true)}}

{% endblock %}
{% block content %}
    {#{% include "../components/navbar.twig" %}#}
{# {{modals.editModal({
    id:1,
    name:"khashayar",
    repeatCount:1,
    timeCount:2,
    duaDate:"2018-07-22",
}
)}} #}
{{modals.editModal(
    
)}}
    <main class="container pb-5 ">
        <div class="d-flex justify-content-between my-5">
                <h2 class="mb-2">Workouts list</h2>
                   <!-- filter by date -->        
                <div x-data="{
                    start:'',
                    end:'',
                    daily:'',
                    allTraining(){
                        console.log('all')
                        window.location.href = './modify';
                    },
                    dailyFilter(){
                        fetch('',{
                            method:'POST',
                            headers:{'Content-type':'application/json'},
                            body:JSON.stringify({'daily':this.daily})
                        })
                        .then(async(response)=>{
                            {# response.json(res=>console.log(res))#}
                            const data=await response.json()

                            const div = document.getElementById('list-parent')
                            
                            div.innerHTML=''
                            data.data.forEach(item => {
                                const child = document.createElement('div')
                                child.classList.add('list-group')
                                child.innerHTML=`
                                <a href='' class='list-group-item list-group-item-action' aria-current='true' data-bs-toggle='modal'
                                data-bs-target='#modal${item.id}'>
                                    <div class='d-flex w-100 justify-content-between'>
                                        <h5 class='mb-0'>${item.name}</h5>
                                    </div>
                                    <small class='text-secondary'>${item.category}</small>
                                    <p class='my-2'>${item.dueDate}</p>
                                    <small class='border-end border-3 border-warning pe-1'>${item.timeCount} times</small>
                                    <small>${item.repeatCount} sets</small>
                                </a>`
                                div.appendChild(child)
                            })
                        })
                    },
                    filterSpan(){
                        fetch('',{
                            method:'POST',
                            headers:{'Content-type':'application/json'},
                            body:JSON.stringify({'start':this.start,'end':this.end})
                        })
                            .then(async(response)=>{
                                const data=await response.json()
                                const div = document.getElementById('list-parent')
                                div.innerHTML=''
                                data.data.forEach(item => {
                                    const child = document.createElement('div')
                                    child.classList.add('list-group')
                                    child.innerHTML=`
                                    <a href='' class='list-group-item list-group-item-action' aria-current='true' data-bs-toggle='modal'
                                    data-bs-target='#modal${item.id}'>
                                        <div class='d-flex w-100 justify-content-between'>
                                            <h5 class='mb-0'>${item.name}</h5>
                                        </div>
                                        <small class='text-secondary'>${item.category}</small>
                                        <p class='my-2'>${item.dueDate}</p>
                                        <small class='border-end border-3 border-warning pe-1'>${item.timeCount} times</small>
                                        <small>${item.repeatCount} sets</small>
                                    </a>`
                                    div.appendChild(child)
                                })
                            })
                    }
                }"
                class="btn-group gap-2" role="group" aria-label="Button group with nested dropdown" >
                    <button type="button" @click.prevent="allTraining" class="btn btn-primary">all</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button"  class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            daily
                        </button>
                        <form @submit.prevent="dailyFilter" class="dropdown-menu p-4">
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">select date</label>
                                <input x-model="daily" type="date" class="form-control" id="exampleDropdownFormDate">
                            </div>
                            <button type="submit" class="btn btn-primary">filter</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        time span
                        </button>
                        <form @submit.prevent="filterSpan" class="dropdown-menu p-4">
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">start</label>
                                <input x-model="start" type="date" class="form-control" id="exampleDropdownFormDate">
                            </div>
                            <div class="mb-3">
                                <label for="exampleDropdownFormPassword2" class="form-label">end</label>
                                <input x-model="end" type="date" class="form-control" id="exampleDropdownFormDate">
                            </div>
                    
                            <button type="submit" class="btn btn-primary">filter</button>
                        </form>
                    </div>
                </div>
                <!-- Button trigger add modal -->
                <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#modal0">
                    Add Workout
                </button>
        </div>
        <div id="list-parent" class="pb-5">
            {% if userTrainings|length != 0%}
                {% for training in userTrainings %}

                    <div class="list-group">
                        {{listitem.list({ 
                            id:training.id,
                            name:training.name,
                            category:training.category,
                            repeatCount:training.repeatCount,
                            timeCount:training.timeCount,
                            dueDate:training.dueDate,
                            remaining:training.remaining
                        })}}
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no trainings for you! Please add a new workout.</p>
            {% endif %}
        </div>
        {% for training in userTrainings %}
            {{modals.editModal({
                id:training.id,
                name:training.name,
                repeatCount:training.repeatCount,
                timeCount:training.timeCount,
                dueDate:training.dueDate,
            })}}
        {% endfor %}

    </main>
{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}
