{% extends "../components/html.twig"%}
{% import "../components/card.twig" as main %}
{% import "../components/navbar.twig" as nav %}
{% import "../components/modals.twig" as modals %}
{% block navbar %}
{{nav.navbar("Workouts",true,false)}}
{% endblock %}


{% block content %}
    {#{% include "../components/navbar.twig" %}#}
    <div>
        <main class="container mt-5">
            <!-- User's training -->
            <section>
                <div class="d-flex justify-content-between">
                    <h2 class="mb-2">Your Trainings Plan</h2>

                </div>
                <div class="card border border-danger rounded" style="width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">{{currentUser[0].name}} trainings</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if currentUserTrainings|length == 0 %}
                                
                            {% elseif currentUserTrainings|length == 1 %}
                                {{currentUserTrainings|length}} Training Is Available
                            {% else %}
                                {{currentUserTrainings|length}} Trainings Are Available
                            {% endif %}
                        </h6>
                        {% if currentUserTrainings|length == 0 %}
                            <p class="card-text">There are no trainings for you right now. Please click <strong>Add</strong> to create your first training.</p>
                            <a href="./modify" class="btn btn-warning text-align-right">Add</a>
                        {% else %}
                            <p class="card-text">Click <strong>Edit</strong> to preview and modify your trainings!</p>
                            <a href="./modify" class="btn btn-warning text-align-right">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </section>
            <!-- Other users' trainings -->
            <section class="my-5">
                <div class="d-flex justify-content-between">
                    <h2 class="mb-2">Other Users' Trainings</h2>

                    <div class="w-1 p-3">
                        <button type="button" class="btn btn-warning px-2 py-1" data-bs-target="#otherUsersTrainings"
                            data-bs-slide="prev">
                            <span>&#8592;</span>
                        </button>
                        <button type="button" class="btn btn-warning px-2 py-1" data-bs-target="#otherUsersTrainings"
                            data-bs-slide="next">
                            <span>&#8594;</span>
                        </button>
                    </div>
                </div>

                <div id="otherUsersTrainings" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for arr in arrOfOtherUsers %}
                            <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %} data-bs-interval="6000">
                                <div class="d-block">
                                    <div class="d-flex gap-2">
                                        {% for user in arr %}
                                            {{ main.card(
                                                {   
                                                    name:user.name,
                                                    id: user.id,
                                                }
                                            )}}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <!-- Other gyms trainings -->
            <section class="my-5">
                <div class="d-flex justify-content-between">
                    <h2 class="mb-2">Other Gyms Trainings</h2>

                    <div class="w-1 p-3">
                        <button type="button" class="btn btn-warning px-2 py-1" data-bs-target="#otherGymsTrainings"
                            data-bs-slide="prev">
                            <span>&#8592;</span>
                        </button>
                        <button type="button" class="btn btn-warning px-2 py-1" data-bs-target="#otherGymsTrainings"
                            data-bs-slide="next">
                            <span>&#8594;</span>
                        </button>
                    </div>
                </div>

                <div id="otherGymsTrainings" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for arr in arrOfOtherGymUsers1 %}
                            <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %} data-bs-interval="6000">
                                <div class="d-block">
                                    <div class="d-flex gap-2">
                                        {% for user in arr %}
                                            {{ main.card(
                                                {   
                                                    name:user.username,
                                                    id:user.username
                                                }
                                            )}}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- modals -->
        {#{% include "../components/modalPreview.twig" %}#}
        {% for user in otherUsers %}
            <div>
                {{modals.previewModal(user,otherUsersTrainings)}}
            </div>
        {% endfor %}
        </main>
    </div>
{% endblock %}
